/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

body {
	font-family: sans-serif;
	line-height: 1.5;
    background-color: white;
    font-size: 30px;
}

.cabezera {
 overflow:hidden;
 padding: 80px;
}

.texto {
    font-weight: bold;
}

.memologo {
    float: left;
    margin-right: 1060px;
}

.texto1, .texto2, .texto3, .icono1, .icono2 {
    float: left;
    margin-right: 150px;
}

.icono3 {
    float: left;
}

.caja1{
    position: relative;
}
    
.imagenpiel{
 position: absolute;
 background-color: rgba(0,0,0,0.4);
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.monedero {
    display: block;
}

.textosobreimagen1 {
    color: white;
    font-size: 80px;
    position: absolute;
    margin-top: -35%;
    margin-left: 35%;
    font-weight: bold;
    
}

.rallita {
 border: 5px solid white;
width: 200px;
}

.textosobreimagen2 {
    color: white;
    font-size: 40px;
    position: absolute;
    margin-top: -27%;
    margin-left: 43%;
    font-weight: bold;
    
}

.memo {
    padding: 60px;
    margin-left: 36%;
    font-size: 50px;

    font-weight: bold;
}

.rallita2 {
 border: 5px solid black;
 width: 200px;
    margin-left: 180px;
}

.caja2 {
    align-items: center;
    float:left;
    width: 100%;
}

.cajafinal {
    float:left;
}

.memobottletitulo{
    font-size: 24px;
    font-weight: bold;
}

.subtexto {
 font-size: 16px;
}







/* $3: XXXX */