/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

body {
	font-family: sans-serif;
	line-height: 1.5;
    background-color: white;
    font-size: 30px;
}

.cabezera {
 overflow:hidden;
 padding: 20px;
}

.texto, .imagenes {
    font-weight: bold;
    float:left;
}


.textosobreimagen {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: -40%;
    margin-left: 40%;
    
}

.memo {
    padding: 30px;
    margin-left:45%;
}

.caja2 {
    align-items: center;
    float:left;
    width: 100%;
}

.cajafinal {
    float:left;
}

.memobottletitulo{
    font-size: 24px;
    font-weight: bold;
}

.subtexto {
 font-size: 16px;
}







/* $3: XXXX */