/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

body {
	font-family: sans-serif;
	line-height: 1.5;
    background-color: pink;
}

h1 {
	font-size: 30px;
	margin-bottom: 15px;
}

.tituloprincipal {
  color: blueviolet;
  font-size: 80px;
    
}

p {
	margin-bottom: 15px;
    color: white;
}

/* $3: XXXX */